@font-face {
    font-family: 'belligerent_madnessregular';
    src: url(./public/polices/belligerentmadness_regular_macroman/belligerent-webfont.eot);
    src: url(./public/polices/belligerentmadness_regular_macroman/belligerent-webfont.eot?#iefix) format('embedded-opentype'),
         url(./public/polices/belligerentmadness_regular_macroman/belligerent-webfont.woff) format('woff'),
         url(./public/polices/belligerentmadness_regular_macroman/belligerent-webfont.ttf) format('truetype'),
         url(./public/polices/belligerentmadness_regular_macroman/belligerent-webfont.svg#belligerent_madnessregular) format('svg');
    font-weight: normal;
    font-style: normal;

}


/* PAGE D'ACCUEIL */

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
h1 {
    font-family: 'belligerent_madnessregular', Helvetica, Arial, sans-serif;
}
img {
    max-width: 100%;
}
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #F3E9F1;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.fa-shopping-cart {
    padding-right: 0.5rem;
    background: rgb(207,219,0);
    background: linear-gradient(90deg, rgba(207,219,0,0.6786064767703957) 2%, rgba(96,39,122,0.7962535355939251) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
li a {
    padding-left: 1.5rem;
}
h2, p {
    padding: 0 .5rem 0 .5rem;
    text-align: justify;
}
.background {
    background-image: url("./public/img/photo-font.jpg");
    background-size: cover;
}
nav ul {
    display: flex;
    padding-left: 0;
}
.background h2 {
    background: rgba(96,39,122,0.4);
    color: #FFF;
    text-shadow: 1px 2px 2px #000;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    padding: 5rem 2rem 5rem 2rem;
    font-size: 2rem;
    height: 100%;
}
main {
    margin-bottom: 100px;
}
h3 {
    text-align: center;
    padding-top: 1rem;
}
section {
    margin-top: 2rem;
    background-color: #F3E9F1;
}
button {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.7rem;
    background-color: rgba(96,39,122,0.4);
    border: none;
    border-radius: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
}
em {
    font-style: normal;
    border-bottom: 1.5px solid black;
}

/* PAGES PRODUITS */



@media (min-width: 768px) {
    main section {
        display: flex;
    }
    .oak {
        display: flex;
    }
    img {
        margin: auto;
    }
}

@media (min-width: 1200px) {
    main {
        width: 80%;
        margin: auto;
        margin-bottom: 100px;
    }
}

 